* {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #fdf5f0;
  font-size: 40px;
}

h2 {
  background: #28555a;
  display:inline-block;
  padding: 5px;
  margin: auto;
  color: #fdf5f0;
  font-size: 24px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  color: #28555a;
}

h4 {
  font-weight: 200;
  color: #fdf5f0;
  font-size: 14px;
}

h5 {
  font-size: 16px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 200;
  color: black;
  line-height: 22px;

}

/******** HEADER *******/

header{
  background-image: url("assets/header-mob.jpg");
  height: 500px;
  padding: 40px 36px 0 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.social-media {
  display: flex;
}

.circles {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #fdf5f0;
}

.icon {
  width: 20px;
  height: 20px;
  padding: 8px;
}

.header-text {
  align-self: flex-start;
}

.profile-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 3px solid #f0cdba;
  margin-bottom: -30px;
}


/******** SUMMARY SECTION – ABOUT ME *******/


.summary-section {
  background:#fdf5f0;
  display: flex;
}

.summary-container {
  margin: 70px 36px 50px;  
}

.decoration-wrapper {
  width: 60px;
  display: flex;
  align-items: center;
  float: left;
  margin-top: 5px;
}

.line {
  width: 40px;
  height: 4px;
  background:#28555a;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background:#28555a;
  margin-left: -3px;
}


/******** TECH SECTION *******/

.tech-section {
  margin: 50px 36px;  
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tech-section p {
  margin-top: 20px;
}


/******** FEATURED PROJECS SECTION *******/

.featured-projects {
  background: #fdf5f0;
  padding: 50px 36px;
}

.projects-container a {
  text-decoration: none;
}


.project-one-img {
  background-image: url("assets/weather-small.png");
  height: 177px;
  width: 303px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-container h5 {
  text-decoration: none;
  color: #28555a;
}

.small-p {
  background: #f0cdba;
  display:inline-block;
  padding: 5px 10px;
  margin: 5px auto;
  font-size: 10px;
}

.project-two-img {
  background-image: url("assets/weather-small.png");
  height: 177px;
  width: 303px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-information {
  margin: 0 0 20px 0;
}


.projects-container h3 {
  margin: 20px auto;
}

/******** MY THOUGHTS ABOUT CODE *******/

.thoughts-section {
  margin: 50px 36px;  
  display: flex;
  flex-direction: column;
}

.thoughts-section a {
  text-decoration: none;
}

.thoughts-section h2 {
  margin-bottom: 20px;
}

.thoughts-section h3 {
  text-align: center;
  margin: 0px 0;
}

.thoughts-content {
  margin: 20px 0;
}

/******** SKILLS *******/

/******** FOR MORE *******/


/*********** MEDIA **************/

@media (min-width: 669px) {

  header {
    background-image: url("assets/header-desktop.jpg");
    padding: 100px 100px 0 100px;
  }


/**** Summary ****/

.summary-container {
  margin: 70px 100px 50px;  
}


/******** TECH SECTION *******/

.tech-section {
  margin: 50px 100px;  
}


@media (min-width: 1024px) {

  h1 {
    font-size: 50px;
  }

  h4 {
    font-size: 20px;
  }

  header {
    background-image: url("assets/header-desktop.jpg");
    padding: 100px 200px 0 200px;
  }

  .profile-img {
    width: 330px;
    height: 330px;
  }

/**** Summary ****/

.summary-container {
  margin: 70px 200px 50px;  
}


/******** TECH SECTION *******/

.tech-section {
  margin: 50px 200px;  
}
