* {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #fff;
  font-size: 40px;
}

h2 {
  background: #cc443a;
  display: inline;
  padding: 5px;
  margin: auto;
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  color: #28555a;
  text-align: center;
  margin-top: 40px;
}

h4 {
  font-weight: 200;
  color: #fff;
  font-size: 14px;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  color: #28555a;
}

h6 {
  font-size: 10px;
  font-weight: 700;
  color: black;
}

p {
  font-size: 16px;
  font-weight: 200;
  color: black;
  line-height: 22px;
}

.small-p {
  background: #f0cdba;
  display: inline-block;
  padding: 0 7px;
  font-size: 10px;
  margin: 10px 0;
}

.centered-p {
  text-align: center;
}

a {
  text-decoration: none;
}

/******** HEADER *******/

header{
  background-image: url("assets/header-mob.jpg");
  height: 500px;
  padding: 40px 36px 0 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.social-media {
  display: flex;
  justify-content: center;
}

.circles {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #fdf5f0;
}

.icon {
  width: 20px;
  height: 20px;
  padding: 8px;
}

.header-text {
  align-self: flex-start;
}

.profile-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 3px solid #f0cdba;
  margin-bottom: -30px;
}


/******** SECTIONS *******/

.white-section {
  margin: 50px 36px;  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pink-section {
  background: #fdf5f0;
  padding: 50px 36px;
  display: flex;
  flex-direction: column;
}


/******** SUMMARY SECTION – ABOUT ME *******/

.summary-section {
  background:#fdf5f0;
  display: flex;
}

.summary-container {
  margin: 70px 36px 50px;  
}

.decoration-wrapper {
  width: 60px;
  display: flex;
  align-items: center;
  float: left;
  margin-top: 5px;
}

.line {
  width: 40px;
  height: 4px;
  background:#28555a;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background:#28555a;
  margin-left: -3px;
}


/******** FEATURED PROJECS SECTION *******/

.projects-container {
  margin: auto;
}

.project-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 300px;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.project-img:hover {
  opacity: 0.5;
}

.first-project {
  background-image: url("assets/project_survey.jpg");
  background-size: cover;
}

.second-project {
  background-image: url("assets/project_happythoughts.jpg");
  background-size: cover;
}

.third-project {
  background-image: url("assets/project_todos.jpg");
  background-size: cover;
}

.fourth-project {
  background-image: url("assets/project_movies.jpg");
  background-size: cover;
}


.project-information {
  margin: 20px 0;
}


/******** MY THOUGHTS ABOUT CODE *******/

.project-card {
  width: 300px;
  margin: 10px 0;
}

.thoughts-content {
  margin: 20px 0;
}

.only-desktop {
  display: none;
}

/******** SKILLS *******/

ul {
  text-align: center;
  line-height: 22px;
  padding: 0;
  list-style: none;
  margin: 10px;
}

li {
  font-weight: 200;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/******** FOR MORE *******/

.some-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.some-circles {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #f0cdba;
}


/******* FOOTER **********/


footer {
  padding: 50px 36px;
  background: #f0cdba;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h3 {
  margin-bottom: 20px;
}

.contact {
  font-weight: 200;
  color: black;
  margin: 5px 0;
}

/*********** MEDIA **************/

@media (min-width: 669px) {

  header {
    background-image: url("assets/header-desktop.jpg");
    padding: 100px 100px 0 100px;
    }

  /**** Summary ****/

  .summary-container {
    margin: 70px 100px 50px;  
  }

  /******** TECH SECTION *******/

  .white-section {
    margin: 50px 100px;  
  }

  .pink-section {
    padding: 50px 100px;
  }

  /******** Projects **********/

  .other-projects {
    margin: auto;
  }

  .projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .project-card {
    margin: 10px;
  }

  /*** skills ********/

  ul {
    width: auto;
  }

  .skills {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {

  h1 {
    font-size: 50px;
  }

  h4 {
    font-size: 20px;
  }

  header {
    background-image: url("assets/header-desktop.jpg");
    padding: 100px 250px 0 200px;
  }

  .profile-img {
    width: 330px;
    height: 330px;
  }

  /**** Summary ****/

  .summary-container {
    margin: 100px 250px 50px;  
  }

  /******** TECH SECTION *******/

  .white-section {
    margin: 50px 250px;  
  }

  .pink-section {
    padding: 50px 250px;
  }

  /********* projects **********/

  .projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  /******** thoughts ***********/

  .only-mobile {
    display: none;
  }

  .only-desktop {
    display: block;
  }
}